* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background: white;
  color: #030303;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  text-align: center;
  padding: 3rem 0;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  color: white;
}

header > h1 {
  font-weight: normal;
  font-style: italic;
}

main {
  max-width: 960px;
  width: 100%;
  margin: 20px auto;
  background: #000;
  color: white;
  padding: 10px;
}

.movie {
  width: 100%;
}

.container {
  position: relative;
}
.container button {
  outline: none;
  border: none;
  padding: 0;
  background-repeat: no-repeat;
  background-position-y: center;
  background-color: transparent;
}
.btPP-main {
  position: absolute;
  width: 20vw;
  height: 10vw;
  border-radius: 50%;
  background-size: 30vw;
  opacity: 0;
  /* background-position-x: -12vw; -12vw / 0vw */
  z-index: 1;
  left: calc(50% - 10vw);
  bottom: calc(50% - 5vw);
  background-image: url("https://i.ibb.co/HdXzZDz/Buttons-Media-Player.png");
}
.controls {
  display: flex;
  position: absolute;
  background: #fdfdfdb7;
  bottom: 0;
  width: 100%;
  height: 10%;
}
.play {
  position: absolute;
  height: 100%;
  width: 10%;
  background-size: 18vw;
  /* background-position-x: -9.5vw; -9.5vw / 0vw */
  left: 0;
  bottom: 0;
  background-image: url("https://i.ibb.co/HdXzZDz/Buttons-Media-Player.png");
}
.mute {
  height: 100%;
  width: 100%;
  /* left: 10%;
  bottom: 0; */
  background-image: url("https://i.ibb.co/g4tzZwY/btSonido.png");
  background-size: contain;
  background-position-x: center;
}
.option {
  position: absolute;
  height: 100%;
  width: 15%;
  right: 0;
  bottom: 0;
  transform: translateX(-50%);
  background-image: url("https://i.ibb.co/tDBd764/optionBT.png");
  background-size: contain;
  background-position-x: center;
}
.FSbutton {
  position: absolute;
  right: 0;
  height: 100%;
  width: 8%;
  margin-right: 5px;
  text-align: center;
}
.FSbutton img {
  height: 100%;
}


/* Time Bar */
.timebar {
  align-self: center;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  color: black;
}
.fontTime {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: 900;
}
.timeBar_currentTime {
  text-align: start;
  margin-right: 10px;
}
.timeBar_totalTime {
  text-align: end;
  margin-left: 10px;
}
.bar {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 5vw;

}
.timeBar_BarContainer {
  display: inline-block;
  position: relative;
  width: 70%;
  height: 15%;
  transition: 600ms;
}
.timeBar_BarContainer:hover {
  height: 30%;
}
.timeBar_backgroundBar {
  background-color: #350224;
}
.timeBar_bar {
  background-color: #f100a1; 
  z-index: 1; 
}
.timeBar_bar::after {
  content: "";
  position: absolute;
  background-color: #ac0072;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 50%;
  right:  0;
  transform: translate(50%,-50%);
}
.LoadedBar {
  background-color: #ffffffc9;
}

/* VolumeBar */
.Volume {
  display: flex;
  align-items: flex-end;
  position: absolute;
  height: 100%;
  width: 10%;
  left: 10%;
  bottom: 0;
  transition: 1s;
}
.volumeContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 20%;
  height: 0%;
  
}
.Volume:hover {
  height: 400%;
}
.Volume:hover .volumeContainer {
  height: 75%;
}
.Volume:hover .mute {
  height: 25%;
}
.Volume:hover .volumeBar::after {
  width: 2.6vw;
}

.volumeBar {
  background-color: #000000;
  border-radius: 3vw 3vw 0 0;
  z-index: 1;
}
.volumeBar::after  {
  content: "";
  position: absolute;
  background-color: #141111;
  border-radius: 50%;
  width: 0;
  height: 2.6vw;
  bottom: 0;
  right:  50%;
  transform: translate(50%, 50%);
}
.volumeBackgroundBar {
  background-color: #ffffff;
}

/* Comments */

.ContComments {
  background: #dd70bc;
  color: white;
  padding: 10px;
}
.ContComments_Title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 2em;
  font-weight: 700;

}

.ContComments_comments {
  border: 2px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  padding: .5em;
  font-size: 1em;
  font-weight: 400;
  width: 60%;
  text-align: center;
  box-shadow: 1px 1px 5px 1px black;
  margin-bottom: 20px;
}



/* EXTRAS */

.ADSwrapper {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 40% 40% 20%;
  grid-template-areas: "img title"
                        "p p"
                        "link link";
  grid-gap: 5%;
  position: absolute;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 10px;
  height: 30%;
  width: 70%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 2;

}
.ADSwrapper img {
  width: 40%;
  grid-area: img;
}
.ADSwrapper h3 {
  font-size: 1.5em;
  margin: 0;
  grid-area: title;
}
.ADSwrapper p {
  margin: 0;
  font-size: 1em;
  grid-area: p;
  text-align: center;
}
.ADSwrapper a {
  text-decoration: none;
  color: inherit;
  grid-area: link;
  font-size: .9em;
}
.ADSwrapper a:hover {
  text-decoration: underline;
  font-weight: 900;
}
.ADSwrapper .deleteBT {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 5px;
  font-weight: 900;
  font-size: 1.15em;
}


@keyframes GrowIn {
  from {
    height: 0%;
  }
  to {
    height: 12%;
  }
}
@keyframes GrowOut {
  from {
    height: 12%;

  }
  to {
    height: 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/*  MATCH MEDIA  */
@media screen and (max-width: 720px) {
  .ADSwrapper p {
    font-size: .65em;
  }
  .ADSwrapper h3 {
    font-size: 1.1em;
  }
  .ADSwrapper a {
    font-size: .7em;
  }
  .ADSwrapper .deleteBT {
    font-size: .8em;
  }

  /* TimeBar */
  .fontTime {
    font-size: .55em;
  }
  .timeBar_bar::after {
    width: 16px;
    height: 16px;
  }
}
@media screen and (max-width: 540px) {
  .ADSwrapper p {
    font-size: .5em;
  }
  .ADSwrapper h3 {
    font-size: .9em;
  }
  .ADSwrapper a {
    font-size: .5em;
  }
  .ADSwrapper .deleteBT {
    font-size: .7em;
  }

  /* TimeBar */
  .timeBar_bar::after {
    width: 12px;
    height: 12px;
  }
  .fontTime {
    font-size: .45em;
  }
  .timeBar_currentTime {
    margin-right: 0;
  }
  .timeBar_totalTime {
    margin-left: 0;
  }
  
}
@media screen and (max-width: 380px) {
  .ADSwrapper p {
    font-size: .4em;
  }
  .ADSwrapper h3 {
    font-size: .7em;
  }
  .ADSwrapper a {
    font-size: .4em;
  }
  .ADSwrapper .deleteBT {
    font-size: .55em;
  }

  
  .timeBar_bar::after {
    width: 8px;
    height: 8px;
  }
  .fontTime {
    font-size: .35em;
  }
  
}